*{
    box-sizing: border-box;
    margin: 0;
}

img{
    max-width: 100%;
    display: block;
}
/* .top-layout{
   
} */
.menu-bg{
    background-color: #020731;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.menu .menu-logo-img{
    margin: 10px;
    border-radius: 15px;
    max-width: 121px;
    max-height: 78px;
}
nav .nav-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #17B1E7;
    
}
.nav-list li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px 15px 30px;
}
.nav-list li a:hover{
    /* font-weight: bold; */
    color:#020731;
    background-color: white;
    padding: 15px 30px 15px 30px;
}
#myLinks{
    display: none;
}
.menu-bg a.icon{
    display:block ;
    position: absolute;
    top: 80px;
    left: 428px;
}
.active {
    background-color: #11619E;
    color: white;
}
.fa{
    margin-left: 10px;
    position: relative;
    top: 33px;
    right: 20px;
    display: none;
    font: normal normal normal 22px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 45px;
    margin-bottom: 45px;
}
img.img-banner{
    width: 60%;
}
.buy{
    max-width: 50px;
}
section{
    margin-bottom: 20px;
}
section .promo-card{
    max-height: 389px;
    background-color: rgba(153, 159, 161, 0.2);
    box-shadow: 4px 4px 11px 4px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-self: center;
}
section .promo-card h4, p{
    color: white;
    padding: 7px;
    font-weight: bold;
    text-align: center;
    /* background-color: #020731; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section .promo-card .specs, h3{
    
    padding: 7px;
    font-weight: bold;
    color: azure;
    text-align: center;
    background-color: #020731;;
    align-self: center;
}
section .promo-card ul{
    margin: 14px 0 ;
}
section .promo-card ul li{
    color: rgb(122, 121, 121);
    padding: 2px;
}

.promo-card .btn-advertivement{
    margin:8px 0 0 0;
    width: 100%;
    padding: 5px;
    border: 6px solid #17B1E7;
    background-color: #17B1E7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.container{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    cursor: pointer;
}
section .card{
    cursor: pointer;
    display: flex;
    margin: 5px;
    flex: 1 0 185px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border:2px solid #384160; */
    
}
/* section .card-tittle{
    color: rgb(243, 242, 245);
    font-size: 20px;
    background-color:#fcfdfd03;
} */

.card-tittle .tittle, p{
    color: rgb(117, 110, 112);
    font-size: 20px;
    background-color:#fcfdfd03;
}
section .blue{
    border: 3px solid blue;
}
section .red {
    border: 3px solid #972D41;
}
section .green {
    border: 3px solid rgb(73, 173, 34);
}
section .roxo {
    border: 3px solid #FFB42B;
}
.card .card-img{
    max-width: 180px;
}
.footer-bg{
    height: 100px;
    width: 100%;
    background-color: #11619E;
}
.tittle-products{
    max-width: 1200px;
    text-align: start;
     margin: 90px auto 0;
}
.products-container{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    /* background-color: #17B1E7; */
    max-width: 1200px;
    padding: 5px;
    gap: 10px;
}
.shoes{
    /* background-color: #FFB42B; */
    border: 1px solid #F1F2F1;
    flex: 1 1 300px;
    text-align: -webkit-center;
}
.shoes img{
    max-width: 150px;
}
.model-shoes{
    margin-left: 31px;
    text-align: start;
    font-weight: bold;
}
.spec-shoes{
    font-size: 12px;
    color: #a8a9b1;
    text-align: start;
    margin-left: 25px;
    padding: 8px 13px 13px 7px;
}
.bg-button{
    text-align: start;
    height: 50px;
    border-top: 3px solid #F1F2F1;
}
.buy-shoes{
    height: 35px;
    border: none;
    margin-top: 7px;
    margin-left: 28px;
    background-color: #FDC107;
    color: #80580e;
}


@media screen and (min-width: 1000px) and (max-width: 1400px){
        img.img-banner{
        width: 57%;
        text-align: center;

    }
}
@media screen and (min-width: 486px) and (max-width: 999px){
    img.img-banner{
    width: 80%;
    text-align: center;
    margin-bottom: 15px;
    }
    .promo-card{
        order: 1;
        
    }
}
@media screen and ( min-width:485px){
      #myLinks a{
        display: none;
    }
}
@media screen and (max-width:485px) {
    body{
        /* margin: 0; */
    }
    .buy{
        display: none;
    }
    .input-search{
       display: none;
    }
    .btn-menu{
        display: flex;
        
    }
    .input-link{
        position: relative;
        top: -16px;
        margin-left: 28%;
    }
    .nav-list a{
        display: none;
    }
    #myLinks a{
        padding: 41px 0 25px 0;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #11619E;
        font-size: 20px;
        padding: 10px;
        background-color: #ffffff;
    }
    #myLinks a:hover{
        color: #020731;
        font-size: 22px;
        font-weight: bold;
    }
    .fa{
        display: inline-block;
        position: relative;
        top: 7px;
        left:-1px;
        font: normal normal normal 23px/1 FontAwesome;
    }
    section{
        margin-top: -22px;
    }

    img.img-banner{
        width: 100%;
        text-align: center;
    }
    .banner{
        margin-top: 35px;
    }
    .promo-card{
        order: 1;
        margin-top: 25px;
        flex:0 1 245px;
    }
    section .promo-card img{
        margin:0 auto;
    }
    .promo-card .btn-advertivement{
        text-align: center;
    }
    .products-container{
        flex-direction: column;
        margin: 25px;
        padding: 10px;
    }
}





